.App {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  font-family: 'Syncopate';
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: zoominoutsinglefeatured 3s ease-in-out 1s infinite, colorchange 2s linear 1s infinite alternate;
  }
}

@keyframes colorchange {
  0% {stroke: #ddd;}
  25% {stroke: #def;}
  50% {stroke: rgb(212, 234, 255);}
  75% {stroke: rgb(221, 243, 255);}
  100% {stroke: rgb(168, 196, 224);}
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.1,1.1);
  }
  100% {
      transform: scale(1,1);
  }
}

.App-footer {
  margin-top: -4px;
  margin-bottom: -4px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8rem;
  color: rgb(97, 97, 97);
}

.App-body {
  background-color: #d5e5e9;
  height: 400px;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.Home {
  color: black;
  font-family: 'Syncopate';
  font-size: calc(14px + 2vmin);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tic-tac-toe {
  color: rgb(20, 84, 100);
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}