.App {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  font-family: 'Syncopate';
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: zoominoutsinglefeatured 3s ease-in-out 1s infinite, colorchange 2s linear 1s infinite alternate;
  }
}

@keyframes colorchange {
  0% {stroke: #ddd;}
  25% {stroke: #def;}
  50% {stroke: rgb(212, 234, 255);}
  75% {stroke: rgb(221, 243, 255);}
  100% {stroke: rgb(168, 196, 224);}
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.1,1.1);
  }
  100% {
      transform: scale(1,1);
  }
}

.App-footer {
  margin-top: -4px;
  margin-bottom: -4px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8rem;
  color: rgb(97, 97, 97);
}

.App-body {
  background-color: #d5e5e9;
  height: 480px;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HOME */
.Style-1 {
  color: black;
  font-family: 'Syncopate';
  font-size: calc(14px + 2vmin);
  font-weight: bold;
}

/* TIC TAC TOE */
.Style-2 {
  color: rgb(20, 84, 100);
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
}

/* REACT MAIN CONCEPTS */
.Style-3 {
  height: 580px;
}

/* ROBOFRIENDS */
.Style-4 {
  height: 800px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(23,2,34,67) 0%, rgba(34,5,88,120) 100%); 
}

/* BANK ACCOUNT */
.Style-5 {
  margin: 0;
  height: auto;
  background: linear-gradient(to right, white 0%, rgb(223, 214, 214) 100%); 
  font-family: 'Open Sans', sans-serif;
}

/* STYLING OF TWO PANELS */

.container {
  width: 100%;
	height: auto;  
  margin: auto;
  padding: 3px;
}

.left {
  width: 42%;
  height: auto;
  float: left;
}

.right {
	float: left;
	width: 40%;
  height: 400px;
}

/* LEFT PANEL: CARDS WITH ACCOUNTS */

.card {
  width: 620px;                 /* Set width of cards */
  display: flex;                /* Children use Flexbox */
	flex-direction: column; 
  border: 2px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header {
  color: #D32F2F;
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  border-bottom: 2px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;
}

.card-main {
  background-color: rgb(255, 250, 251);
  padding: 15px;
}


/* STYLING OF ACCOUNT CARDS */

.accounts{
  width: 620px;                 /* Set width of cards */
  display: flex;                /* Children use Flexbox */
  flex-direction: column; 
  background-color: #D32F2F;
  border: 2px solid rgb(53, 30, 30);    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin-left: 5px;                 /* Add space between cards */
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: capitalize;
  }

.row {
	display: flex;
	flex-direction: row;
	width: 100%; 
}

.column {
	display: flex;
  flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.column1 {
	text-align: center;
}

.column2 {
}

.column3 {
}

.column4 {
	text-align: center;
	margin-left: 10px; 
}

.quad-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 4
}

.material-icons {
  color: #D32F2F;
	margin-bottom: 5px;
}

.main-description {
  color: #D32F2F;
  font-size: 1em;
  text-align: left;
}

.message {
	color: rgb(2, 76, 99);
	font-family: Oxanium;
	font-weight: bold;
  font-size: 1.2em;
	text-align: left;
	margin-top: 20px;
}


/* RIGHT PANEL: ACCOUNT STATS */

.cardR {
  width: 620px;                 /* Set width of cards */
  display: flex;                /* Children use Flexbox */
	flex-direction: column; 
  border: 2px solid rgb(154, 184, 239);    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-headerR {
  color: rgb(0, 179, 211);
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  border-bottom: 2px solid rgb(154, 191, 239);
  background-color: rgb(235, 245, 255);
  padding: 5px 10px;
}

.card-mainR {
  background-color: rgb(255, 250, 251);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.rowR {
  display: flex;
  flex-direction: row;
}

.column1R {
  flex: 2 0 0;
  font-weight: bold;
}

.column2R {
  flex: 3 0 0;
}

.main-descriptionR {
  color: #D32F2F;
  font-size: 1em;
  font-weight: bold;
}
