
@font-face {
    font-family: "Aeroshodic";
    font-style: normal; 
    font-weight: normal; 
    src: local('Aeroshodic'), url(Aeroshodic.ttf);
  }

h1 {
    font-family: Aeroshodic; 
    font-weight: 10;
    color: rgba(150,1,23,90); 
}