/* FONT STYLING */

h2 {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2.4px;
    color: rgb(17, 5, 37);
}

h3 {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2.4px;
    word-spacing: 2px;
    color: rgb(53, 28, 94);
}


/* GRID LAYOUT */

.header { grid-area: header; }
.op1 { grid-area: op1; }
.op2 { grid-area: op2; }
.op3 { grid-area: op3; }
.op4 { grid-area: op4; }
.num0 { grid-area: num0; }
.num1 { grid-area: num1; }
.num2 { grid-area: num2; }
.num3 { grid-area: num3; }
.num4 { grid-area: num4; }
.num5 { grid-area: num5; }
.num6 { grid-area: num6; }
.num7 { grid-area: num7; }
.num8 { grid-area: num8; }
.num9 { grid-area: num9; }
.clear { grid-area: clear; }
.enter { grid-area: enter; }
.output { grid-area: output; }

.grid-container {
  display: grid;
  grid-auto-columns: auto;
  grid-template-areas:
    'header header header header'
    'num7 num8 num9 op1'
    'num4 num5 num6 op2'
    'num1 num2 num3 op3'
    'num0 enter enter op4'
    'output output output clear';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

