.linkedListButton {
  padding: 10px;
  background: #2fb1cc;
  color: white;
  border: 2px, black;
}

.linkedListButton:hover {
  cursor: pointer;
}

.input-field,
.search {
  padding: 0.4rem;
  min-width: 30%;
}

.line {
  margin-top: 0.5rem;
}

.seperate-line {
  height: 1px;
  background: #dad5d5;
  margin: 1rem 0;
  width: 100%;
}

#current-status {
  color: green;
}
