
body {
  font-family: 'Open Sans', sans-serif;
}

.card {
  width: 620px;                 /* Set width of cards */
  display: flex;                /* Children use Flexbox */
	flex-direction: column; 
  border: 2px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header {
  color: #D32F2F;
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
  border-bottom: 2px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;
}

.card-main {
  margin: 15px;
}


/* STYLING OF ACCOUNT CARDS */

.row {
	display: flex;
	flex-direction: row;
	width: 100%; 
}

.column {
	display: flex;
  flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.column1 {
	background-color: white;
	text-align: center;
}

.column2 {
  background-color: white;
}

.column3 {
  background-color: white;
}

.column4 {
	background-color: white;
	text-align: center;
	margin-left: 10px; 
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2
}

.material-icons {
  color: #D32F2F;
	margin-bottom: 5px;
}

.main-description {
  color: #D32F2F;
  font-size: 1em;
  text-align: left;
}

.message {
	color: rgb(2, 76, 99);
	font-family: Oxanium;
	font-weight: bold;
  font-size: 1.2em;
	text-align: left;
	margin-top: 20px;
}
